body{
    margin: 0;
    padding: 0;
    background: #141414;
    font-family: sans-serif;
    color: white;
    scroll-behavior: smooth;
}

.onscroll-body{
    overflow: hidden;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141414;
    /* border: 2px solid red; */
    height: 60px;
    width: 100%;
}

.logo{
    width: 90px;
    height: 25px;
    margin-left: 35px;
}

.profileicon{
    width: 30px;
    border-radius: 5px;
}

.magnifying-glass{
    color: white;
}

.search-container{
    display: flex;
    align-items: center;
    border: 1px solid white;
    width: 200px;
    transition: width 1s;
}

.search-container input{
    border: none;
    outline: 0;
    background-color: black;
    width: 100%;
    color: white;
    transition: width 1s;
    padding-left: 10px;
}

.hide.search-container{
    width: 35px;
    border: none;
}

.hide.input{
    width: 0;
    /* transition: width 1s; */
}

.bell{
    color: white;
}

.fa-caret-down{
    color: white;
    font-size: 10px;
}

.rightelement{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
}

.down-and-profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu{
    display: flex;
    gap: 20px;
    position: absolute;
    left: 120px;
    font-size: 13px;
}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    color: #e5e5e5;
    font-weight: 500;
}

.menu li a:hover{
    color: #999;
}

.main-background{
    width: 100%;
    height: 85vh;
    /* border: 2px solid red; */
    position: relative;
}

.main-background video{
    width: 100%;
    /* height: 100vh; */
    position: absolute;
    top: -35px;
    /* border: 2px solid red; */
    background-size: cover;
    z-index: -1;
}

.header_fadebottom {
    width: 100%;
    top: 89vh;
    height: 10.0rem;
    /* border: 2px solid yellow; */
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(180deg,transparent,rgba(0, 0, 0,0.55),#000);
}

.sub-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid yellow; */
    height: 65px;
    width: 100%;
    /* top: 40px; */
    z-index: 1;
    position: fixed;
    transition: all 300ms linear;
}

.sub-header-left{
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-between;
    /* border: 2px solid pink; */
    margin-left: 35px;
}

.genres-btn{
    display: inline-flex;
    align-items: center;
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 4px 10px;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.genres-btn:hover{
    background: transparent;
}

.genres-btn img{
    width: 8px;
    margin-left: 22px;
}

.sub-header-right{
    display: flex;
    margin-right: 53px;
}

.svg-btn1, .svg-btn2{
    background: transparent;
    border: 1px solid white;
    color: white;
    display: inline-flex;
    align-items: center;
    padding: 6px 12px 6px 12px;
}

.title{
    width: 350px;
    position: absolute;
    /* z-index: 90; */
    top: 130px;
    left: 35px;
    /* border: 2px solid red; */
}

.img-title{
    width: 330px;
}

.title p{
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#more-info-btn{
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 3px;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-left: 5px;
    cursor: pointer;
}

#play-btn{
    padding: 8px 25px;
    border: none;
    font-size: 15px;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.fa-play, .fa-circle-info{
    font-size: 23px;
}

#play-btn:hover{
    background: rgba(255,255,255,0.7)
}

#more-info-btn:hover{
    background: rgba(109, 109, 110, 0.4);
}

.first-container{
    /* border: 2px solid red; */
    /* position: absolute; */
    /* overflow-x: scroll; */
    /* top: 98vh; */
}

.heading {
    margin-left: 40px;
    /* border: 2px solid blue; */
    width: 200px;
    height: 30px;
}

.images-trending{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    overflow: scroll;
    overflow-y: hidden;
}

.images-trending::-webkit-scrollbar{
    display: none;
}

.rank{
    /* border: 2px solid white; */
    width: 200px;
    height: 150px;
    display: flex;
}

.rank10{
    width: 250px;
}

#rank-10{
    width: 110px;
}

.images-trending svg{
    width: 30%;
    margin-left: 20px;
    /* height: 100px; */
}

.images-trending img{
    width: 50%;
    height: 100%;
}

.rank10 img{
    width: 40%;
}

.image-container{
    display: flex;
    gap: 10px;
    padding: 10px;
    transition: all 1s ease-in-out;
    /* overflow-x: scroll; */
    /* overflow-x: hidden; */
}

.second-container1{
    overflow: hidden; 
}

.image-container::-webkit-scrollbar{
    display: none;
}

.image-container img{
    width: 175px;
    max-height: 110px;
    border-radius: 3px;
    /* overflow:auto */
}

.dropdown{
    /* position: relative; */
    /* border: 2px solid yellow; */
    height: 40px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: all ease-in-out 3s; */
    /* z-index: 999; */
}

.notification-container{
    border: 1px solid rgb(199, 197, 197);
    border-top: 4px solid rgb(220, 220, 220);
    width: 400px;
    height: 263px;
    background: rgba(0,0,0,0.8);
    position: absolute;
    right: 115px;
    top: 70px;
    transition: visibility 100ms linear;
    visibility: hidden;
    z-index: 999;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.notification-container #first{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0px;
    padding: 5px 10px;
    border: 1px solid rgb(137, 137, 137);
    border-top: none;
}

.notification-container #first:hover{
    background: black;
}

.notification-container #first img{
    width: 100px;
    height: 60px;
    border-radius: 5px;
}

.notification-container #first p{
    font-size: 14px;
    color: #dfdbdb;
}

.notification-container #first span{
    font-size: 10px;
    color: #999;
}

.dropdown:hover .notification-container{
    /* display: block; */
    visibility: visible;
    /* transition: visibility 3s linear; */
}

.dropdown .notification-container:hover .notification-container{
    /* display: block; */
    visibility: visible;
    /* transition: visibility 3s linear; */
}

.dropdown2{
    position: absolute;
    background: rgb(0, 0, 0,0.8);
    top: 70px;
    right: 50px;
    width: 180px;
    z-index: 999;
    visibility: hidden;
    transition: visibility 100ms linear;
    border: 0.1px solid rgb(84, 84, 84);
}

.icons-name{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.fa-pen-to-square, .fa-circle-question, .fa-user,.fa-money-bill-transfer{
    font-size: 20px;
}

.icons-name img{
    width: 30px;
    border-radius: 5px;
}

.icons-name span{
    font-size: 11px;
}

.icons-name span:hover, .signout-netflix p:hover{
    text-decoration: underline;
}

.signout-netflix{
    margin-top: 10px;
    padding: 5px;
    border-top: 1px solid rgb(172, 172, 172);
}
.signout-netflix p{
    font-size: 12px;
    text-align: center;
}

.down-and-profile:hover .dropdown2{
    visibility: visible;
}

/* .dropdown2:hover .dropdown2{
    visibility: visible;
} */

.genre-dropdown{
    position: absolute;
    background-color: rgb(0, 0, 0,0.9);
    display: flex;
    gap: 20px;
    top: 60px;
    left: 190px;
    padding: 0px 20px;
}

.genre-dropdown p{
    font-size: 13px;
    cursor: pointer;
}

.genre-dropdown p:hover{
    text-decoration: underline;
}

.hide-genre-dropdown{
    visibility: hidden;
}

.footer{
    margin-top: 100px;
}

.meta-icons{
    display: flex;
    gap: 30px;
    font-size: 20px;
    padding-left: 120px;
    cursor: pointer;
}

.footer-links{
    display: flex;
    gap: 70px;
    padding-left: 70px;
}

.footer-links li{
    list-style: none;
    margin-bottom: 10px;
}

.footer-links li a{
    text-decoration: none;
    color: #757575;
    font-size: 13px;
}

.footer-links li a:hover{
    text-decoration: underline;
}

.footer button{
    background-color: #000;
    border: 1px solid #757575;
    padding: 6px;
    margin-left: 110px;
    color: #757575;
    font-size: 13px;
}

.footer p{
    font-size: 11px;
    color: #757575;
    margin-left: 110px;
    margin-top: 20px;
}

.second-container1{
    display: flex;
    position: relative;
}

.left , .right{
    width: 50px;
    height: calc(100% - 20px);
    top: 10px;
    position: absolute;
    z-index: 1;
    /* border: 3px solid white; */
    background-color: rgba(8, 2, 2, 0.712);
}

.left img, .right img{
    width: 50px;
    top: 25px;
    position: absolute;
}

.right img{
    transform: rotate(180deg);
}

.right{
    right: 0px;
}

.arrow-hide{
    visibility: hidden;
}

.second-container1:hover .arrow-hide{
    visibility: visible;
}


/* for hovering images */
.image-container .image1:hover{
    transform: scale(1.1);
    transition: transform 300ms ease-in-out;
}

/* for video player */

.video-player{
    /* border: 2px solid white; */
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 444;
    transform: translate(-50%,-50%);
    display: none;
}

.video-player-hide{
    display: block;
    /* box-shadow: 0px 0px 50px 200px rgb(0, 0, 0,0.8); */
}

.video-player .video-players-video{
    width: 70%;
    height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    /* z-index: 444; */
    transform: translate(-50%,-50%);
    /* aspect-ratio: 16/9; */
}

.video-player .fa-arrow-left{
    position: absolute;
    left: 180px;
    top: 40px;
    font-size: 25px;
    visibility: hidden;
    transition: all 1s;
}
.video-player:hover .fa-arrow-left,.video-player:hover .moviename{
    visibility: visible;
}

.moviename{
    /* color: white; */
    position: absolute;
    left: 250px;
    top: 28px;
    visibility: hidden;
    transition: all 1s;
    /* font-size: 15px; */
}




