*{
    margin: 0;
    padding: 0;
    /* font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif; */
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
}

.header{
    width: 100%;
    min-height: 100vh;
    /* border: 2px solid red; */
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/new-background-signup.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

/* .header_fadetop{
    width: 100%;
    top: 0;
    left: 0;
    height: 7.0rem;
    border: 2px solid yellow;
    position: absolute;
    background-image: linear-gradient(0deg,transparent,rgba(0, 0, 0, 0.51),#111);
} */

/* .header_fadebottom {
    width: 100%;
    bottom: 0;
    left: 0;
    height: 9.0rem;
    position: absolute;
    background-image: linear-gradient(180deg,transparent,rgba(0, 0, 0, 0.51),#111);
} */

nav{
    padding: 10px 0px;
    /* border: 2px solid yellowgreen; */
}

.logo{
    width:150px;
    cursor: pointer;
    margin: 10px 0px 0px 35px;
    
}

.header-content{
    /* border: 2px solid yellow; */
    max-width: 400px;
    height: 660px;
    position: relative;
    z-index: 90;
    margin-left: 50%;
    background: rgba(0,0,0,.65);
    transform: translateX(-50%);
    padding: 60px;
    border-radius: 10px;
}

.header-content h2{
    font-size: 28px;
     margin-bottom: 28px; 
}

.header-content input{
    height: 50px;
    width: 100%;
    border-radius: 3px;
    background-color: #333;
    box-sizing: border-box;
    padding-left: 15px;
    outline: none;
    border: 1px solid #333;
}

.input-email{
    margin-bottom: 14px;
}

.input-password{
    margin-bottom: 35px;
}

 .signin-btn{
    margin-bottom: 10px;
 }

 .signin-btn a{
    color: white;
    text-decoration: none;
 }

.header-content .btn{
    height: 50px;
    width: 100%;
    color: white;
    background: #db0001;
    font-weight: 600;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #db0001;
}

.support{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.remember input{
    width: 15px;
    height: 15px;
}

.remember{
    display: flex;
    align-items: center;
}

.remember span{
    color: #b3b3b3;
}

.support a{
    text-decoration: none;
    color: #b3b3b3;
}

.support a:hover{
    text-decoration: underline;
}

.signup-foot{
    margin-top: 70px;
}

.signup-foot .new-to-netflix{
     font-size: 16px;
     color: #737373;
}

.signup-foot span a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.signup-foot span a:hover{
    text-decoration: underline;
}

.signup-foot .learn-more{
    font-size: 13px;
    color: #8c8c8c;
    margin-top: 11px;
}

.hide{
    /* opacity: 0; */
    /* transition: height .5s ease,opacity .5s ease; */
    margin-top: 20px;
    visibility: hidden;
}

.learn-more-btn{
    background-color: transparent;
    border: none;
    color: #0071eb;
    cursor: pointer;
    font-size: inherit;
}

.footer{
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    padding: 30px 120px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.footer p{
    margin-bottom: 25px;
    font-size: 15px;
    color: #737373;
}

.footer p a{
    color: #737373;
}

.footer-items {
    display: flex;
    gap: 90px
}

li{
    list-style: none;
    padding-bottom: 15px;
    font-size: 13px;
}

li a{
    text-decoration: none;
    color: #737373;
}

#language-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #433e3e;
    padding: 14px 5px;
    margin-top: 10px;
    font-size: 13px;
    border-radius: 2px;
    color: #737373;  /*for bottom language btn*/
}

#language-btn #disco-ball {
    width: 18px;
    margin-bottom: 1.8px;
    margin-right: 15px;
}

#language-btn img {
    width: 10px;
    margin-left: 5px;
}

@media only screen and (min-width: 200px) and (max-width:567px) {
    .header{
        width: 100%;
        /* border: 2px solid red; */
        background: none;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .footer{
        background: rgba(0, 0, 0);
        width: 100%;
        padding: 20px 20px;
        margin-top: 0px;
    margin-bottom: 10px;
    }
    
    .footer-items {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        /* border: 2px solid red; */
    }

   
    
    li{
        list-style: none;
        padding-bottom: 15px;
        font-size: 13px;
    }
    
    li a{
        text-decoration: none;
        color: #737373;
    }

    .header-content{
        /* border: 2px solid yellow; */
        width: 100%;
        height: 100%;
        z-index: 0;
        padding: 20px;

    }

    .logo{
        width:90px;
        margin-left: 10px;
    }
    
}